      //MD>SM
@media all and (max-width : 1024px) {

}
      //SM>XS
@media all and (max-width : 768px) {

}
      @media all and (max-width : 660px) {
        .pointer{
          display: inline-block;
        }
      }
      //tablet->mob
@media all and (max-width : 640px) {
  .privet-section,.coop-section{
    .gallery-block{
      display: none;
    }
    .gallery-row{
      &:first-child{
        margin: 0 -15px;
      }
      &:last-child{
        display: none;
      }
    }
    .circle-holder{
      display: none;
    }
    .letter{
      display: none;
    }
    .inside-letter{
      display: inline-block;
      float: left;
    }
    .content-holder p{
      font-size: 24px;
    }
  }
  .coop-section{
    padding-bottom: 0;
    .section-gallery{
      .gallery-block-3{
        display: inline-block;
        width: 100%;
        margin: 0;
      }
      .gallery-row:first-child{
        padding: 0;
      }
    }
    .information-area{
      padding-left: 6%;
      padding-right: 0;
      margin-right: -15px;
    }
    .content-holder{
      padding: 5px 20px;
      .inside-letter{
        width: 32%;
        display: inline-block;
        margin: 0 15px 5px -10%;
        float: left;
      }
      .section-link-btn{
        display: none;
      }
      p:last-of-type{
        padding-bottom: 0;
      }
    }
    .afterline{
      display: none;
    }
    .outer-section-link-btn{
      display: inline-block;
      width: 160px;
      line-height: 50px;
      background: #e5e5e5;
      font-size: 24px;
      color: black;
      text-align: center;
      //float: left;
    }
    .mob-additions {
      text-align: center;
      padding: 15px 20px;
      display: block;
      span{
        display: inline-block;
        @include setFont(Lombok);
        font-size: 48px;
        line-height: 1em;
        color: #6c6a6c;
      }
    }
  }
  .privet-section{
    padding-bottom: 20px;
    .section-gallery{
      .gallery-block-1{
        display: inline-block;
        width: 100%;
        margin: 0;
      }
    }
    .information-area{
      padding: 0 0 0 12.5%;
      margin-right: -15px;
    }
    .mob-additions{
      display: block;
      float: left;
      width: 35%;
      margin: 0 20px 5px -17.5%;
    }
    .inside-letter{
      display: block;
      //padding-bottom: 20px;
    }
    .content-holder{
      padding: 5px 20px 20px;
      .section-link-btn{
        font-size: 24px;
        color: black;
        margin-bottom: 10px;
      }
      .outer-section-link-btn{
        display: inline-block;
        width: 120%;
        margin-left: -10%;
        line-height: 50px;
        background: #e5e5e5;
        font-size: 24px;
        color: black;
        text-align: center;
      }
      p{
        font-size: 24px;
      }
      p:last-of-type{
        padding-bottom: 15px;
      }
    }
    .line-left{
      display: none;
    }
    .afterline{
      margin-top: 0;
    }
  }
  .about-section {
    .img-sector{
      display: none;
    }
    .text-sector{
      width: 100%;
    }
    .sliding-img{
      width: auto;
      margin: -50px -15px 7%;
    }
    .about-logo{
      width: 94%;
      right: 3%;
    }
    .pre-line{
      display: none;
    }
    .h-type-a h3{
      padding-top: 0;
      position: relative;
      &:after{
        display: block;
        content: ' ';
        position: absolute;
        left: 100%;
        top: 50%;
        border-top: 1px solid #6c6a6c;
        height: 0;
        width: 1000px;
        margin-left: 40px;
      }
    }
    .text-sector .section-link-btn{
      margin-bottom: -50px;
      position: relative;
      z-index: 700;
      font-size: 24px;
    }
  }
  .main-slider-section{
    margin-bottom: 15px;
  }
  .header{
    padding: 0 15px;
  }
  .tablet-slider-img{
    display: none;
  }
  .mobile-slider-img{
    display: block;
  }
  .main-slider-section{
    .slider-btn-prev{
      left: 0;
    }
    .slider-btn-next{
      right: 0;
    }
  }
  .news-row {
    .news-row-img-sector {
      width: 50%;
    }
  }
  .block-404{
    width: 100%;
    padding: 0 15px;
  }
  .gallery-img-block{
    display: none;
    &:first-child{
      display: block;
      img{
        &:first-child{
          display: none;
        }
        &:last-child{
          width: 100%;
          margin: 0;
        }
      }
    }
  }
  .gallery-text-block{
    padding-bottom: 0;
  }
  .c-events-comment-first{
    .c-events-comment-img-sector{
      float: none;
      width: 100%;
    }
    .c-events-comment-text-sector{
      float: none;
      width: 100%;
      margin-top: 0;
    }
  }
  .c-events-comment-second{
    .c-events-comment-img-sector{
      float: none;
      width: 100%;
    }
    .c-events-comment-text-sector{
      float: none;
      width: 100%;
      margin-top: 0;
    }
  }
  .gallery-text-block{
    padding: 30px 10%;
  }
}

@media all and (max-width : 540px) {
  .about-me-text-large{
    font-size: 24px;
  }
  .events-centered-row-img-sector{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    img{
      width: 70%;
      display: inline-block;
    }
  }
  .events-centered-row-text-sector{
    width: 100%;
    padding-left: 0;
  }
  .about-me-gallery-block{
    img{
      width: 70%;
      margin: 0;
      &:last-child{
        display: none;
      }
    }
  }
  .events-timeline{
    display: none;
  }
  .c-events-section .section-heading {
    padding: 15px 0 30px;
  }
}

@media all and (max-width : 480px) {
  .c-events-comments-slider-section .c-events-comments-slider-holder {
    padding: 0 25px;
  }
  .c-events-comments-slider-section .c-events-comments-arrow .arrow-circle .arrow-line {
    width: 20px;
  }
  .gallery-text-block{
    padding: 30px 0;
  }
  .events-centered-row-img-sector{
    img{
      width: 100%;
      display: inline-block;
    }
  }
  .about-me-zorin{
    font-size: 100px;
    margin-top: -30px;
  }
  .about-me-gallery-block{
    img{
      width: 100%;
    }
  }
  .about-me-img-block{
    img{
      width: 100%;
    }
  }
  .footer-block:first-child {
    width: 9.888em;
  }
  .footer-block:last-child {
    padding-top: 1em;
  }
  .news-row {
    padding-bottom: 30px;
    .news-row-img-sector {
      width: 100%;
    }
  }
}

@media all and (max-width : 320px) {
  .about-me-zorin {
    font-size: 80px;
    margin-top: -20px;
  }
  .contacts-section {
    .section-link-btn {
      width: 110px;
      font-size: 16px;
      span{
        line-height: 20px;
      }
    }
    .contact-block:nth-child(2){
      font-size: 16px;
    }
  }
  .privet-section,.coop-section{
    .content-holder p{
      font-size: 18px;
    }
  }
  .main-slider-section{
    .slider-btn-prev,.slider-btn-next{
      height: 40px;
      margin-top: -20px;
    }
  }
}