img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.thl, .contacts-section .contact-links, .contact-links, .footer-contacts {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0; }
  .thl > li, .contacts-section .contact-links > li, .contact-links > li, .footer-contacts > li {
    display: inline-block; }

.tvl, .events-types {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .tvl > li, .events-types > li {
    display: block;
    margin: 0; }

.additional-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

@font-face {
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Thin.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Lombok;
  src: url("../fonts/Lombok.eot?#iefix") format("embedded-opentype"), url("../fonts/Lombok.woff") format("woff"), url("../fonts/Lombok.ttf") format("truetype"), url("../fonts/Lombok.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@keyframes slideFL {
  0% {
    left: -500px;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
@keyframes slideFL2 {
  0% {
    right: 100%;
    opacity: 0; }
  50% {
    right: 100%;
    opacity: 0; }
  100% {
    right: 90px;
    opacity: 1; } }
@keyframes slideFL3 {
  0% {
    left: -500px;
    opacity: 0; }
  40% {
    left: -500px;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
@keyframes slideFR {
  0% {
    left: 100%;
    opacity: 0; }
  50% {
    left: 100%;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
@keyframes slideFR2 {
  0% {
    right: -500px;
    opacity: 0; }
  50% {
    right: -500px;
    opacity: 0; }
  100% {
    right: 30px;
    opacity: 1; } }
@keyframes slideFB {
  0% {
    bottom: -500px;
    opacity: 0; }
  40% {
    bottom: -500px;
    opacity: 0; }
  100% {
    bottom: 0;
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes error {
  0% {
    outline: 3px solid red; }
  50% {
    outline: 10px solid red; }
  100% {
    outline: 3px solid red; } }
.width-helper {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: inline-block;
  font-size: 30px;
  color: black;
  z-index: 2000; }

html, body, .wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.section {
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  font-family: HelveticaNeueCyr, "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ccc;
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
  margin: 0; }

.wrapper {
  position: relative; }

.header {
  width: 100%;
  height: 60px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
  background: rgba(255, 255, 255, 0.8); }

.header-logo {
  display: inline-block;
  height: 60px;
  padding-top: 16px;
  color: black; }
  .header-logo:hover {
    color: black; }
  .header-logo h2 {
    display: inline-block;
    font-size: 50px;
    line-height: 40px;
    vertical-align: top;
    font-family: Lombok, "Open Sans", sans-serif;
    margin: 0; }

.news-page-section {
  padding-top: 60px; }
  .news-page-section .section-heading {
    padding: 15px 0; }
    .news-page-section .section-heading h1 {
      font-size: 36px;
      color: black; }

.news-row {
  padding-bottom: 60px;
  display: inline-block;
  width: 100%; }
  .news-row .news-row-img-sector {
    float: left;
    margin: 0 20px 10px 0;
    width: 40%; }
  .news-row .news-row-text-sector {
    font-size: 16px;
    color: #000; }
    .news-row .news-row-text-sector p {
      margin: 0;
      padding: 0 0 10px; }
      .news-row .news-row-text-sector p:last-child {
        padding: 0; }
  .news-row .news-heading {
    font-size: 18px;
    line-height: 1.21em;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px; }
    .news-row .news-heading h3 {
      line-height: 1.21em;
      font-weight: 500; }
  .news-row:nth-child(2n) .news-row-img-sector {
    float: right;
    margin: 0 0 10px 20px; }

.mob-burger-holder {
  float: right;
  height: 60px;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 14px; }

.mob-burger {
  height: 28px;
  display: inline-block;
  width: 44px;
  position: relative; }
  .mob-burger:before, .mob-burger:after, .mob-burger .stick {
    display: inline-block;
    width: 100%;
    position: absolute;
    background: black;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .mob-burger:before, .mob-burger:after {
    content: ''; }
  .mob-burger:before {
    top: 0; }
  .mob-burger .stick {
    top: 50%;
    margin-top: -2px; }
  .mob-burger:after {
    bottom: 0; }
  .mob-burger.active {
    height: 30px; }
    .mob-burger.active:before {
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
      -webkit-transform-origin: top right;
      -moz-transform-origin: top right;
      transform-origin: top right;
      width: 39px; }
    .mob-burger.active:after {
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      -webkit-transform-origin: bottom right;
      -moz-transform-origin: bottom right;
      transform-origin: bottom right;
      width: 39px; }
    .mob-burger.active .stick {
      opacity: 0; }

.mob-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 950;
  height: 100%;
  display: none; }

.aside-header {
  display: table;
  z-index: 1200;
  width: 100%;
  overflow: hidden; }
  .aside-header a {
    color: #989898;
    display: table-row; }
    .aside-header a:hover {
      color: #989898; }
    .aside-header a:hover .expanding-circle, .aside-header a.active .expanding-circle {
      width: 12px;
      height: 12px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .aside-header a:hover .text-header-sector span::before, .aside-header a.active .text-header-sector span::before {
      width: 1000px;
      -webkit-transition: width 1s 0.8s ease;
      -moz-transition: width 1s 0.8s ease;
      transition: width 1s 0.8s ease; }
    .aside-header a:hover .text-header-sector::after, .aside-header a.active .text-header-sector::after {
      width: 36px;
      -webkit-transition: width 0.4s 0.4s ease;
      -moz-transition: width 0.4s 0.4s ease;
      transition: width 0.4s 0.4s ease; }
  .aside-header .dot-header-sector {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    width: 12px;
    position: relative;
    padding: 0 4px;
    background: url("../images/dot.png") center no-repeat;
    background-size: 3px 3px; }
    .aside-header .dot-header-sector .expanding-circle {
      content: '';
      width: 0;
      height: 0;
      margin-top: 1px;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.4s 1.4s ease;
      -moz-transition: all 0.4s 1.4s ease;
      transition: all 0.4s 1.4s ease;
      z-index: 1100;
      border: 1px solid #6f6c6f; }
  .aside-header .ie-fix-block {
    height: 15px;
    display: inline-block;
    vertical-align: middle; }
  .aside-header .text-header-sector {
    padding-right: 36px;
    padding-left: 10px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    position: relative; }
    .aside-header .text-header-sector span {
      display: inline-block;
      position: relative;
      line-height: 28px;
      font-size: 14px;
      padding: 0 5px;
      color: black;
      text-transform: uppercase; }
    .aside-header .text-header-sector span::before, .aside-header .text-header-sector::after {
      content: '';
      display: inline-block;
      height: 0;
      border-bottom: 1px solid #6f6c6f; }
    .aside-header .text-header-sector span::before {
      width: 0;
      position: absolute;
      top: 50%;
      left: auto;
      right: 100%;
      bottom: auto;
      -webkit-transition: width 1s ease;
      -moz-transition: width 1s ease;
      transition: width 1s ease; }
    .aside-header .text-header-sector::after {
      width: 0;
      position: absolute;
      top: 50%;
      left: auto;
      right: 0;
      bottom: auto;
      -webkit-transition: width 0.4s 1s ease;
      -moz-transition: width 0.4s 1s ease;
      transition: width 0.4s 1s ease; }

.main-slider-section {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden; }
  .main-slider-section .slider-btn-prev, .main-slider-section .slider-btn-next {
    position: absolute;
    top: 50%;
    height: 70px;
    margin-top: -35px;
    z-index: 800;
    background: transparent; }
    .main-slider-section .slider-btn-prev img, .main-slider-section .slider-btn-next img {
      height: 100%;
      width: auto; }
  .main-slider-section .slider-btn-prev {
    left: 2.5%; }
  .main-slider-section .slider-btn-next {
    right: 2.5%; }

.main-slider {
  height: 100%;
  display: block;
  width: 1920px;
  max-width: 100%;
  margin: 0 auto; }
  .main-slider .swiper-slide {
    position: relative; }

.main-slider-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800; }
  .main-slider-mask .container {
    height: 100%; }
  .main-slider-mask .row {
    height: 100%; }
    .main-slider-mask .row > div {
      height: 100%; }

.main-slider-logo {
  font-family: Lombok, "Open Sans", sans-serif;
  font-size: 4em;
  color: white;
  position: relative;
  z-index: 900;
  margin: 0.3em 0 0;
  line-height: 1em;
  left: 0;
  opacity: 1;
  animation: slideFL 2.5s ease; }

.slider-description {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none; }
  .slider-description:first-child {
    display: block; }
  .slider-description h2, .slider-description span, .slider-description a {
    display: inline-block; }
  .slider-description h2 {
    font-size: 45px;
    margin: 0;
    white-space: nowrap; }
  .slider-description span {
    font-size: 24px;
    margin-bottom: 0.5em;
    width: 100%;
    white-space: nowrap; }
  .slider-description a {
    font-size: 18px;
    width: 140px;
    line-height: 50px;
    color: white;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.1); }
    .slider-description a:hover {
      color: white; }

.about-section {
  position: relative;
  margin-bottom: 40px; }
  .about-section .pre-line {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 0;
    border-bottom: 1px solid #6d6a6d;
    -webkit-transition: width 1.5s ease;
    -moz-transition: width 1.5s ease;
    transition: width 1.5s ease; }
  .about-section .h-type-a h3 {
    font-size: 36px;
    display: inline-block;
    padding-right: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #6d6a6d;
    margin: 0;
    font-weight: 300;
    color: #4a4a4a; }
  .about-section .text-sector {
    width: 61.7%;
    position: relative; }
    .about-section .text-sector p {
      padding: 15px 0 20px;
      font-size: 16px;
      margin: 0;
      color: #4a4a4a; }
    .about-section .text-sector .section-link-btn {
      display: inline-block;
      font-size: 18px;
      width: 140px;
      text-align: center;
      line-height: 50px;
      color: black;
      border: 1px solid #6d6a6d;
      margin-bottom: 50px; }
      .about-section .text-sector .section-link-btn:hover {
        color: black; }
  .about-section .img-sector {
    width: 32%;
    position: absolute;
    right: 15px;
    top: 25px;
    text-align: right; }
    .about-section .img-sector img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: inline-block; }
  .about-section .section-content {
    position: relative; }

.sliding-img {
  width: 100%;
  margin-bottom: 24.5%; }

.about-logo {
  height: auto;
  width: 82%;
  position: absolute;
  bottom: 0;
  right: 15px; }

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }
  .video-bg video {
    width: 100%;
    height: 100%; }

.video-holder {
  position: relative;
  height: 100%;
  z-index: 300; }

.video-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(255, 255, 255, 0.5); }

.privet-section, .coop-section {
  padding-bottom: 90px; }
  .privet-section .section-heading h3, .coop-section .section-heading h3 {
    font-size: 36px;
    line-height: 1em;
    display: inline-block;
    margin: 0;
    padding: 30px 0 15px;
    font-weight: 300;
    color: black; }
  .privet-section .content-holder, .coop-section .content-holder {
    background: white;
    position: relative;
    text-align: left;
    color: #746f6f; }
    .privet-section .content-holder p, .coop-section .content-holder p {
      margin: 0;
      font-size: 16px;
      padding-bottom: 10px;
      text-align: left;
      white-space: pre-line;
      color: black; }
    .privet-section .content-holder a, .coop-section .content-holder a {
      display: inline-block;
      width: 150px;
      line-height: 50px;
      background: #e5e5e5;
      font-size: 18px;
      color: black;
      text-align: center; }
  .privet-section .circle-holder, .coop-section .circle-holder {
    text-align: right; }
    .privet-section .circle-holder .circle, .coop-section .circle-holder .circle {
      width: 24px;
      height: 24px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #ebebeb;
      position: relative;
      display: inline-block;
      margin-left: 12px; }
    .privet-section .circle-holder .dot, .coop-section .circle-holder .dot {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 6px;
      height: 6px;
      background: #ebebeb;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: -3px 0 0 -3px; }
    .privet-section .circle-holder .line, .coop-section .circle-holder .line {
      position: absolute;
      top: 50%;
      right: 50%;
      height: 1px;
      width: 300px;
      background: #ebebeb; }
  .privet-section .letter, .coop-section .letter {
    width: 350px;
    position: absolute;
    z-index: 700;
    top: 5px; }
  .privet-section .line-left, .coop-section .line-left {
    position: absolute;
    top: 15px;
    border-left: 1px solid #969496;
    width: 0;
    height: 290px; }
  .privet-section .section-content, .coop-section .section-content {
    position: relative;
    z-index: 500; }
  .privet-section .information-area, .coop-section .information-area {
    position: relative; }
  .privet-section .afterline, .coop-section .afterline {
    width: 250%;
    border-top: 1px solid #6d6a6d;
    margin-top: 20px; }
  .privet-section .gallery-block, .coop-section .gallery-block {
    position: relative;
    margin-right: 2.12%;
    display: inline-block;
    vertical-align: bottom; }
    .privet-section .gallery-block-5:after, .coop-section .gallery-block-5:after {
      display: none; }

.coop-section {
  position: relative; }
  .coop-section .afterline {
    margin-bottom: 20px; }
  .coop-section .line-left {
    left: 15px; }
  .coop-section .section-heading h3 {
    padding-left: 5.85%; }
  .coop-section .content-holder {
    padding: 30px 18px 20px 35%; }
    .coop-section .content-holder p:last-of-type {
      padding-bottom: 15px; }
  .coop-section .information-area {
    padding-left: 19%;
    padding-right: 8.5%; }
  .coop-section .letter {
    left: 3.85%;
    width: 37%; }
  .coop-section .circle-holder {
    padding-bottom: 25px; }
  .coop-section .section-gallery {
    margin-top: 0;
    position: relative;
    z-index: 800; }
    .coop-section .section-gallery .gallery-row {
      white-space: nowrap;
      font-size: 0; }
      .coop-section .section-gallery .gallery-row:first-child {
        padding-bottom: 2.12%;
        padding-top: 25px; }
    .coop-section .section-gallery .gallery-block-1 {
      width: 23.4%; }
    .coop-section .section-gallery .gallery-block-2 {
      width: 23.4%; }
    .coop-section .section-gallery .gallery-block-3 {
      width: 48.96%;
      margin-right: 0;
      margin-bottom: -3.2%; }
    .coop-section .section-gallery .gallery-block-4 {
      width: 37.2%; }
    .coop-section .section-gallery .gallery-block-5 {
      width: 26.56%;
      padding-bottom: 11%;
      position: relative; }
      .coop-section .section-gallery .gallery-block-5 img {
        position: absolute;
        left: 2%;
        width: 96%;
        top: 0; }
    .coop-section .section-gallery .gallery-block-6 {
      margin-right: 0;
      width: 32%; }

.privet-section {
  position: relative; }
  .privet-section .content-holder {
    padding: 30px 33% 20px 18px; }
    .privet-section .content-holder p:last-of-type {
      padding-bottom: 30px; }
  .privet-section .section-heading h3 {
    padding: 20px 0 24px 8.5%; }
  .privet-section .circle-holder {
    padding-top: 40px;
    text-align: left; }
    .privet-section .circle-holder .line {
      right: auto;
      left: 50%; }
    .privet-section .circle-holder .circle {
      margin-right: 12px;
      margin-left: 0; }
  .privet-section .letter {
    right: 4.25%;
    width: 37%; }
  .privet-section .line-left {
    left: 0;
    top: 5%;
    height: 90%; }
  .privet-section .information-area {
    padding: 0 21% 0 6.35%;
    margin-bottom: 25px; }
  .privet-section .afterline {
    margin-top: 20px;
    margin-left: 13%; }
  .privet-section .gallery-row {
    font-size: 0; }
  .privet-section .gallery-block-1 {
    width: 49%;
    margin-bottom: 5.85%; }
  .privet-section .gallery-block-2 {
    width: 23.4%; }
  .privet-section .gallery-block-3 {
    margin-top: -5%;
    width: 40.4%; }
  .privet-section .gallery-block-4 {
    width: 31.96%;
    text-align: center;
    padding-bottom: 4.78%; }
    .privet-section .gallery-block-4 img {
      display: inline-block;
      width: 80%; }
  .privet-section .gallery-block-5 {
    margin-top: -23.4%;
    width: 23.4%;
    margin-right: 0; }

.news-section {
  padding-bottom: 30px; }
  .news-section .section-heading h3 {
    font-size: 36px;
    line-height: 1em;
    display: inline-block;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 300;
    color: black; }
  .news-section .all-news {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    float: right;
    padding-top: 13px; }
    .news-section .all-news:hover {
      color: black; }
  .news-section .section-content {
    position: relative;
    padding-top: 15px;
    color: #aaaaaa; }
  .news-section .news-block {
    z-index: 500;
    position: relative;
    background: white;
    -webkit-box-shadow: 5px 0 15px 0 #ccc;
    -moz-box-shadow: 5px 0 15px 0 #ccc;
    box-shadow: 5px 0 15px 0 #ccc; }
    .news-section .news-block .extend-btn {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      height: 30px;
      padding-top: 7px;
      background: white;
      -webkit-transition: transform 0.7s ease;
      -moz-transition: transform 0.7s ease;
      transition: transform 0.7s ease; }
      .news-section .news-block .extend-btn img {
        display: inline-block;
        height: 16px;
        width: auto;
        vertical-align: top; }
  .news-section .news-text-sector {
    font-size: 16px;
    padding: 5px 20px;
    height: auto;
    max-height: 280px;
    overflow: hidden;
    -webkit-transition: max-height 0.7s ease;
    -moz-transition: max-height 0.7s ease;
    transition: max-height 0.7s ease; }
    .news-section .news-text-sector p:last-child {
      margin-bottom: 30px; }
  .news-section .extended.news-block .news-text-sector {
    max-height: 1000px; }
  .news-section .extended.news-block .extend-btn {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  .news-section .news-heading h4 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    color: black;
    text-transform: uppercase; }
  .news-section .news-img-sector {
    position: relative;
    padding-bottom: 94%;
    -webkit-transition: padding-bottom 0.5s ease;
    -moz-transition: padding-bottom 0.5s ease;
    transition: padding-bottom 0.5s ease;
    overflow: hidden; }
    .news-section .news-img-sector .triangle {
      width: 0;
      height: 0;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      border-bottom: 18px solid white;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent; }
    .news-section .news-img-sector img {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0; }
  .news-section .news-slider .swiper-wrapper {
    z-index: 700; }

.contacts-section {
  position: relative; }
  .contacts-section .section-link-btn {
    display: inline-block;
    font-size: 24px;
    float: right;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    vertical-align: top;
    color: black;
    padding: 5px 10px; }
    .contacts-section .section-link-btn:hover {
      color: black; }
    .contacts-section .section-link-btn span {
      display: inline-block;
      line-height: 32px;
      font-family: "Open Sans",sans-serif;
      font-weight: 400; }
  .contacts-section .pre-line {
    height: 0;
    width: 0;
    background: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.388em;
    border-bottom: 1px solid black;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    transition: width 0.5s ease;
    text-align: left; }
    .contacts-section .pre-line .dot {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 6px;
      left: 6px;
      display: inline-block;
      background: black;
      vertical-align: top;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .contacts-section .pre-line .circle {
      width: 17px;
      display: inline-block;
      position: relative;
      vertical-align: top;
      height: 17px;
      margin-left: -17px;
      margin-top: -9px;
      border: 1px solid black;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  .contacts-section .contacts-img-row img {
    margin-top: -2.5em; }
  .contacts-section .container {
    z-index: 700;
    position: relative; }
  .contacts-section .contacts-row {
    padding-top: 2.5em;
    padding-bottom: 1.666em;
    color: #6d6a6d; }
    .contacts-section .contacts-row .circle {
      display: inline-block;
      text-align: center;
      width: 17px;
      height: 17px;
      position: relative;
      border: 1px solid black;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      vertical-align: text-bottom; }
      .contacts-section .contacts-row .circle .dot {
        width: 5px;
        height: 5px;
        display: inline-block;
        position: absolute;
        top: 6px;
        left: 6px;
        background: black;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .contacts-section .contacts-row .circle .afterline {
        float: right;
        margin-top: 2px;
        border-bottom: 1px solid black;
        width: 0;
        height: 0;
        -webkit-transition: width 1s 0.4s ease;
        -moz-transition: width 1s 0.4s ease;
        transition: width 1s 0.4s ease; }
  .contacts-section .section-heading h3 {
    font-size: 36px;
    color: black;
    margin: 0;
    line-height: 1em;
    font-weight: 300;
    display: inline-block;
    position: relative;
    padding-right: 10px; }
    .contacts-section .section-heading h3:after {
      position: absolute;
      top: 50%;
      left: 100%;
      border-top: 1px solid #6c6a6c;
      height: 0;
      width: 1000px;
      content: ' ';
      display: block; }
  .contacts-section .contact-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    vertical-align: top;
    font-size: 24px; }
    .contacts-section .contact-block:first-child {
      color: #6d6a6d;
      font-weight: 400; }
    .contacts-section .contact-block > span {
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;
      color: black;
      text-transform: uppercase; }
    .contacts-section .contact-block .circle {
      width: 17px;
      height: 17px;
      display: inline-block;
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #898989; }
    .contacts-section .contact-block .dot {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      background: #898989; }
    .contacts-section .contact-block .download-presentation, .contacts-section .contact-block .download-gallery, .contacts-section .contact-block .download-recommendations {
      display: block;
      color: black;
      white-space: nowrap; }
      .contacts-section .contact-block .download-presentation:hover, .contacts-section .contact-block .download-gallery:hover, .contacts-section .contact-block .download-recommendations:hover {
        color: black; }
      .contacts-section .contact-block .download-presentation .dot, .contacts-section .contact-block .download-gallery .dot, .contacts-section .contact-block .download-recommendations .dot {
        vertical-align: middle; }
      .contacts-section .contact-block .download-presentation span, .contacts-section .contact-block .download-gallery span, .contacts-section .contact-block .download-recommendations span {
        white-space: normal;
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        text-transform: uppercase;
        line-height: 1em; }
    .contacts-section .contact-block .download-presentation, .contacts-section .contact-block .download-gallery {
      padding-bottom: 10px; }
  .contacts-section .contact-links li {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    border: 3px solid #b1b1b1; }
    .contacts-section .contact-links li:last-child {
      margin-right: 0; }
  .contacts-section .contact-links a {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    line-height: 42px;
    font-size: 30px;
    color: #b1b1b1; }
    .contacts-section .contact-links a:hover {
      color: #b1b1b1; }

.section-about-me {
  padding-top: 60px; }
  .section-about-me .section-heading {
    padding-top: 15px;
    padding-bottom: 15px; }
    .section-about-me .section-heading h1 {
      font-size: 36px;
      color: black; }

.about-me-text-block {
  font-size: 16px;
  padding-bottom: 30px; }
  .about-me-text-block p {
    padding-bottom: 10px;
    margin: 0;
    color: black; }
    .about-me-text-block p:last-child {
      padding-bottom: 0; }

.about-me-img-block {
  text-align: center;
  padding-bottom: 30px; }
  .about-me-img-block img {
    display: inline-block;
    width: 70%; }

.about-me-gallery-block {
  padding-bottom: 30px;
  text-align: center;
  font-size: 0; }
  .about-me-gallery-block img {
    display: inline-block;
    width: 40%;
    margin: 0 5%; }

.about-me-text-large {
  font-size: 36px;
  color: #000; }

.footer-content {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%; }

.footer {
  position: relative;
  z-index: 50;
  padding-bottom: 0.555em; }

.footer-row {
  text-align: center; }

.footer-heading {
  position: relative; }
  .footer-heading span {
    font-size: 2em;
    line-height: 1em;
    color: black; }
  .footer-heading .footer-circle-box {
    position: absolute;
    left: -2.666em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    .footer-heading .footer-circle-box .footer-heading-circle {
      display: block;
      position: relative;
      width: 18px;
      height: 18px;
      border: 1px solid black;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .footer-heading .footer-circle-box .footer-heading-dot {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: black;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .footer-heading .footer-circle-box .footer-heading-line {
      position: absolute;
      top: 50%;
      right: 50%;
      height: 0;
      width: 9999px;
      border-top: 1px solid black; }

.footer-block {
  padding-top: 3.666em;
  display: inline-block;
  text-align: left;
  position: relative;
  left: 4vw; }
  .footer-block:first-child {
    width: 13.888em;
    padding-right: 1.111em; }
  .footer-block:nth-child(2) {
    padding-top: 0; }
  .footer-block:last-child {
    width: 22em;
    color: black;
    padding-left: 3.6em; }

.footer-block {
  display: inline-block;
  vertical-align: top; }
  .footer-block .contact-links {
    padding-top: 1.666em; }
  .footer-block:first-child {
    color: black; }
  .footer-block .circle {
    width: 17px;
    height: 17px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border: 1px solid black; }
  .footer-block .dot {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: black; }
  .footer-block .download-presentation, .footer-block .download-gallery, .footer-block .download-recomendations {
    display: block;
    color: black;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    transition: color 0.4s ease;
    padding-bottom: 0.555em; }
    .footer-block .download-presentation:hover, .footer-block .download-gallery:hover, .footer-block .download-recomendations:hover {
      color: black; }
    .footer-block .download-presentation span, .footer-block .download-gallery span, .footer-block .download-recomendations span {
      display: inline-block;
      margin-left: 5px;
      text-transform: uppercase;
      vertical-align: baseline;
      line-height: 1em; }
  .footer-block .footer-info-heading {
    padding-bottom: 0.888em; }

.contact-links li {
  width: 2.555em;
  height: 2.555em;
  margin-right: 5px;
  border: 3px solid #9b9b9b;
  -webkit-transition: border 0.4s ease;
  -moz-transition: border 0.4s ease;
  transition: border 0.4s ease; }
  .contact-links li:hover {
    border: 3px solid #b1b1b1; }
  .contact-links li:last-child {
    margin-right: 0; }
.contact-links a {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  line-height: 1.333em;
  font-size: 1.666em;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: #9b9b9b; }
  .contact-links a:hover {
    color: #b1b1b1; }

.footer-contacts {
  color: #746f6f; }

.development {
  display: inline-block;
  font-size: 0.888em;
  color: #939393; }
  .development a {
    color: #939393;
    text-decoration: underline; }
    .development a:hover {
      color: #939393; }

.about-me-zorin {
  width: 100%;
  font-family: Lombok,"Open Sans",sans-serif;
  font-size: 150px;
  display: inline-block;
  line-height: 1em;
  margin-top: -40px;
  color: black;
  opacity: 0.06; }

.holder-404 {
  min-height: 100vh; }

.block-404 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.events-timeline {
  height: 1px;
  width: 100%;
  position: relative;
  margin-bottom: 5.75em; }
  .events-timeline .timeline {
    float: right;
    width: 200%;
    border-top: 1px solid #6d6a6d; }
    .events-timeline .timeline-mask {
      position: absolute;
      right: 0;
      width: 150%;
      background: white;
      height: 3px;
      top: -1px; }

.timeline-block {
  width: 11px;
  height: 11px;
  position: absolute;
  top: -5px;
  border: 1px solid #6d6a6d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: white; }
  .timeline-block-transparent {
    background: transparent;
    border: none; }
  .timeline-block-ukraine {
    left: 2.6315%; }
    .timeline-block-ukraine .timeline-line {
      height: 4.166em; }
    .timeline-block-ukraine .timeline-infoblock {
      bottom: 4.166em; }
  .timeline-block-empty {
    left: 10.96%; }
    .timeline-block-empty .timeline-line {
      height: 5.555em; }
  .timeline-block-mic {
    left: 28.94%; }
    .timeline-block-mic .timeline-infoblock {
      bottom: 10px;
      text-align: center; }
    .timeline-block-mic-heading {
      display: inline-block;
      width: 100%; }
    .timeline-block-mic-block-bottom-row {
      white-space: nowrap;
      padding-top: 1.333em; }
    .timeline-block-mic-block-from, .timeline-block-mic-block-to {
      display: inline-block;
      width: 5em;
      padding: 0 1em;
      vertical-align: top; }
    .timeline-block-mic-block-mic {
      display: inline-block;
      width: 3.166em;
      vertical-align: top; }
  .timeline-block-europe {
    left: 42.98%; }
    .timeline-block-europe .timeline-line {
      height: 2.777em; }
    .timeline-block-europe .timeline-infoblock {
      top: 2.777em; }
  .timeline-block-transparent {
    left: 55.28%; }
    .timeline-block-transparent .position-reset .timeline-dot {
      top: 4px; }
  .timeline-block-counter {
    left: 68.94%; }
    .timeline-block-counter .timeline-line {
      height: 4.166em; }
    .timeline-block-counter .timeline-infoblock {
      bottom: 4.166em;
      white-space: nowrap; }
      .timeline-block-counter .timeline-infoblock .counter-number {
        display: inline-block;
        width: 2.25em;
        height: 4.111em;
        color: #939393;
        position: relative;
        overflow: hidden; }
        .timeline-block-counter .timeline-infoblock .counter-number-old {
          position: absolute;
          font-size: 4.111em;
          bottom: 0;
          line-height: 1em; }
        .timeline-block-counter .timeline-infoblock .counter-number-new {
          position: absolute;
          font-size: 4.111em;
          line-height: 1em;
          bottom: 100%; }
    .timeline-block-counter .c-event-counter {
      position: relative; }
      .timeline-block-counter .c-event-counter .counter-text {
        position: absolute;
        left: 110%;
        bottom: 0.25em;
        font-size: 1.666em;
        color: #939393; }
  .timeline-block-transparent-second {
    right: 18.15%;
    left: auto; }
  .timeline-block-world {
    right: 2.28%; }
    .timeline-block-world .timeline-line {
      height: 2.777em; }
    .timeline-block-world .timeline-infoblock {
      top: 2.777em;
      white-space: nowrap; }
  .timeline-block .position-reset {
    width: 100%;
    height: 100%;
    position: relative; }
  .timeline-block .timeline-dot {
    position: absolute;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: black;
    top: 3px;
    left: 3px; }
  .timeline-block .timeline-line {
    position: absolute;
    left: 4px;
    width: 1px;
    background: black; }
    .timeline-block .timeline-line-top {
      bottom: 4px; }
    .timeline-block .timeline-line-bottom {
      top: 4px; }
  .timeline-block .timeline-infoblock {
    display: inline-block;
    position: absolute;
    left: 50%;
    color: black;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%); }
    .timeline-block .timeline-infoblock-top {
      padding-bottom: 10px; }
    .timeline-block .timeline-infoblock-bottom {
      padding-top: 10px; }

.c-events-section {
  padding-top: 60px; }
  .c-events-section .section-heading {
    padding: 15px 0 120px; }
    .c-events-section .section-heading h1 {
      font-size: 36px;
      color: black; }

.events-centered-row {
  font-size: 0;
  padding-bottom: 60px; }
  .events-centered-row-img-sector {
    width: 31.14%;
    display: inline-block;
    vertical-align: middle; }
  .events-centered-row-text-sector {
    width: 68.86%;
    display: inline-block;
    font-size: 16px;
    padding-left: 2.777em;
    vertical-align: middle;
    color: #000; }

.text-sector-heading {
  font-size: 20px;
  padding-bottom: 0.6em;
  display: inline-block;
  width: 100%; }

.events-types li {
  padding-bottom: 1em; }
  .events-types li .event-name {
    font-weight: 700; }

.events-gallery {
  padding-bottom: 60px; }

.gallery-img-block {
  text-align: center;
  position: relative; }
  .gallery-img-block:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); }
  .gallery-img-block img {
    display: inline-block;
    margin: 0 2.5%;
    vertical-align: top; }
    .gallery-img-block img:first-child {
      width: 50%;
      margin-right: 5%;
      margin-left: 0; }
    .gallery-img-block img:last-child {
      width: 27%;
      margin-right: 0;
      margin-left: 5%; }
  .gallery-img-block:first-child img:first-child {
    width: 36.5%;
    margin: 0 2.5%; }
  .gallery-img-block:first-child img:last-child {
    width: 45%;
    margin: 0 2.5%; }

.gallery-text-block {
  padding: 30px 25%;
  text-align: center;
  font-size: 20px;
  color: black; }
  .gallery-text-block p {
    margin: 0; }

.c-events-comment-first {
  padding-bottom: 30px; }
  .c-events-comment-first::after {
    content: '';
    display: table;
    clear: both; }
  .c-events-comment-first .c-events-comment-img-sector {
    float: left;
    width: 70%; }
  .c-events-comment-first .c-events-comment-text-sector {
    float: right;
    width: 70%;
    margin-top: -50px; }

.c-events-comment-second {
  padding-bottom: 60px; }
  .c-events-comment-second::after {
    content: '';
    display: table;
    clear: both; }
  .c-events-comment-second .c-events-comment-img-sector {
    float: left;
    width: 60%; }
  .c-events-comment-second .c-events-comment-text-sector {
    float: right;
    width: 60%;
    margin-top: -50px; }

.event-big-img-section {
  padding-bottom: 60px; }

.slider-comment-img {
  max-width: 300px;
  margin: 0 auto; }

.c-events-comment-text-sector {
  background: white;
  color: #000;
  -webkit-box-shadow: 3px 3px 10px 0 #ddd;
  -moz-box-shadow: 3px 3px 10px 0 #ddd;
  box-shadow: 3px 3px 10px 0 #ddd;
  font-size: 16px;
  padding: 10px 10px 10px 15px; }
  .c-events-comment-text-sector .c-events-comment-author {
    font-size: 14px;
    text-align: right;
    padding-left: 50%;
    font-style: italic;
    font-weight: 600; }
  .c-events-comment-text-sector p {
    margin: 0; }

.c-events-comments-slider-section {
  padding-bottom: 60px; }
  .c-events-comments-slider-section .c-events-comments-slider-holder {
    padding: 0 45px;
    position: relative; }
  .c-events-comments-slider-section .c-events-comments-slider {
    overflow: hidden; }
  .c-events-comments-slider-section .c-events-comments-arrow {
    position: absolute;
    width: 45px;
    top: 50%;
    padding: 20px 0;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    .c-events-comments-slider-section .c-events-comments-arrow .arrow-circle {
      width: 11px;
      height: 11px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #000000;
      position: relative;
      display: inline-block; }
      .c-events-comments-slider-section .c-events-comments-arrow .arrow-circle .arrow-dot {
        width: 3px;
        height: 3px;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #000; }
      .c-events-comments-slider-section .c-events-comments-arrow .arrow-circle .arrow-line {
        position: absolute;
        top: 5px;
        width: 30px;
        height: 1px;
        background: #000; }
    .c-events-comments-slider-section .c-events-comments-arrow-left {
      text-align: left;
      left: 0; }
      .c-events-comments-slider-section .c-events-comments-arrow-left .arrow-line {
        left: 5px; }
      .c-events-comments-slider-section .c-events-comments-arrow-left .arrow-dot {
        left: 3px;
        top: 4px; }
    .c-events-comments-slider-section .c-events-comments-arrow-right {
      text-align: right;
      right: 0; }
      .c-events-comments-slider-section .c-events-comments-arrow-right .arrow-line {
        right: 5px; }
      .c-events-comments-slider-section .c-events-comments-arrow-right .arrow-dot {
        right: 3px;
        top: 4px; }

.slider-comment-text {
  padding-top: 40px;
  text-align: center;
  color: black;
  font-size: 16px; }
  .slider-comment-text p {
    margin: 0; }

.c-event-ending-img {
  position: relative;
  margin-bottom: 60px; }
  .c-event-ending-img:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, 0.5); }

.timeline-block {
  display: none; }

.standart-padding-bottom {
  padding-bottom: 30px; }

.partners_link {
  padding-bottom: 0.5rem; }
  .partners_link a {
    display: inline-block;
    font-size: 14px;
    width: 190px;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    color: black;
    background: transparent;
    position: relative;
    z-index: 300; }
    .partners_link a:hover {
      color: black; }
    .partners_link a span {
      display: inline-block;
      line-height: 2em; }
    .partners_link a img {
      width: 80%; }

@keyframes pointerSlider {
  0% {
    right: 10%;
    opacity: 0; }
  40% {
    right: 42%;
    opacity: 1; }
  60% {
    right: 58%;
    opacity: 1; }
  100% {
    right: 90%;
    opacity: 0; } }
.pointer {
  display: none;
  width: 90px;
  padding: 0 20px;
  position: absolute;
  z-index: 940;
  bottom: 20px;
  animation: pointerSlider 2s linear infinite; }

.background-mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000; }

.inside-letter, .outer-section-link-btn, .mob-additions {
  display: none; }

.mobile-slider-img {
  display: none; }

@media all and (max-width: 660px) {
  .pointer {
    display: inline-block; } }
@media all and (max-width: 640px) {
  .privet-section .gallery-block, .coop-section .gallery-block {
    display: none; }
  .privet-section .gallery-row:first-child, .coop-section .gallery-row:first-child {
    margin: 0 -15px; }
  .privet-section .gallery-row:last-child, .coop-section .gallery-row:last-child {
    display: none; }
  .privet-section .circle-holder, .coop-section .circle-holder {
    display: none; }
  .privet-section .letter, .coop-section .letter {
    display: none; }
  .privet-section .inside-letter, .coop-section .inside-letter {
    display: inline-block;
    float: left; }
  .privet-section .content-holder p, .coop-section .content-holder p {
    font-size: 24px; }

  .coop-section {
    padding-bottom: 0; }
    .coop-section .section-gallery .gallery-block-3 {
      display: inline-block;
      width: 100%;
      margin: 0; }
    .coop-section .section-gallery .gallery-row:first-child {
      padding: 0; }
    .coop-section .information-area {
      padding-left: 6%;
      padding-right: 0;
      margin-right: -15px; }
    .coop-section .content-holder {
      padding: 5px 20px; }
      .coop-section .content-holder .inside-letter {
        width: 32%;
        display: inline-block;
        margin: 0 15px 5px -10%;
        float: left; }
      .coop-section .content-holder .section-link-btn {
        display: none; }
      .coop-section .content-holder p:last-of-type {
        padding-bottom: 0; }
    .coop-section .afterline {
      display: none; }
    .coop-section .outer-section-link-btn {
      display: inline-block;
      width: 160px;
      line-height: 50px;
      background: #e5e5e5;
      font-size: 24px;
      color: black;
      text-align: center; }
    .coop-section .mob-additions {
      text-align: center;
      padding: 15px 20px;
      display: block; }
      .coop-section .mob-additions span {
        display: inline-block;
        font-family: Lombok, "Open Sans", sans-serif;
        font-size: 48px;
        line-height: 1em;
        color: #6c6a6c; }

  .privet-section {
    padding-bottom: 20px; }
    .privet-section .section-gallery .gallery-block-1 {
      display: inline-block;
      width: 100%;
      margin: 0; }
    .privet-section .information-area {
      padding: 0 0 0 12.5%;
      margin-right: -15px; }
    .privet-section .mob-additions {
      display: block;
      float: left;
      width: 35%;
      margin: 0 20px 5px -17.5%; }
    .privet-section .inside-letter {
      display: block; }
    .privet-section .content-holder {
      padding: 5px 20px 20px; }
      .privet-section .content-holder .section-link-btn {
        font-size: 24px;
        color: black;
        margin-bottom: 10px; }
      .privet-section .content-holder .outer-section-link-btn {
        display: inline-block;
        width: 120%;
        margin-left: -10%;
        line-height: 50px;
        background: #e5e5e5;
        font-size: 24px;
        color: black;
        text-align: center; }
      .privet-section .content-holder p {
        font-size: 24px; }
      .privet-section .content-holder p:last-of-type {
        padding-bottom: 15px; }
    .privet-section .line-left {
      display: none; }
    .privet-section .afterline {
      margin-top: 0; }

  .about-section .img-sector {
    display: none; }
  .about-section .text-sector {
    width: 100%; }
  .about-section .sliding-img {
    width: auto;
    margin: -50px -15px 7%; }
  .about-section .about-logo {
    width: 94%;
    right: 3%; }
  .about-section .pre-line {
    display: none; }
  .about-section .h-type-a h3 {
    padding-top: 0;
    position: relative; }
    .about-section .h-type-a h3:after {
      display: block;
      content: ' ';
      position: absolute;
      left: 100%;
      top: 50%;
      border-top: 1px solid #6c6a6c;
      height: 0;
      width: 1000px;
      margin-left: 40px; }
  .about-section .text-sector .section-link-btn {
    margin-bottom: -50px;
    position: relative;
    z-index: 700;
    font-size: 24px; }

  .main-slider-section {
    margin-bottom: 15px; }

  .header {
    padding: 0 15px; }

  .tablet-slider-img {
    display: none; }

  .mobile-slider-img {
    display: block; }

  .main-slider-section .slider-btn-prev {
    left: 0; }
  .main-slider-section .slider-btn-next {
    right: 0; }

  .news-row .news-row-img-sector {
    width: 50%; }

  .block-404 {
    width: 100%;
    padding: 0 15px; }

  .gallery-img-block {
    display: none; }
    .gallery-img-block:first-child {
      display: block; }
      .gallery-img-block:first-child img:first-child {
        display: none; }
      .gallery-img-block:first-child img:last-child {
        width: 100%;
        margin: 0; }

  .gallery-text-block {
    padding-bottom: 0; }

  .c-events-comment-first .c-events-comment-img-sector {
    float: none;
    width: 100%; }
  .c-events-comment-first .c-events-comment-text-sector {
    float: none;
    width: 100%;
    margin-top: 0; }

  .c-events-comment-second .c-events-comment-img-sector {
    float: none;
    width: 100%; }
  .c-events-comment-second .c-events-comment-text-sector {
    float: none;
    width: 100%;
    margin-top: 0; }

  .gallery-text-block {
    padding: 30px 10%; } }
@media all and (max-width: 540px) {
  .about-me-text-large {
    font-size: 24px; }

  .events-centered-row-img-sector {
    width: 100%;
    text-align: center;
    padding-bottom: 30px; }
    .events-centered-row-img-sector img {
      width: 70%;
      display: inline-block; }

  .events-centered-row-text-sector {
    width: 100%;
    padding-left: 0; }

  .about-me-gallery-block img {
    width: 70%;
    margin: 0; }
    .about-me-gallery-block img:last-child {
      display: none; }

  .events-timeline {
    display: none; }

  .c-events-section .section-heading {
    padding: 15px 0 30px; } }
@media all and (max-width: 480px) {
  .c-events-comments-slider-section .c-events-comments-slider-holder {
    padding: 0 25px; }

  .c-events-comments-slider-section .c-events-comments-arrow .arrow-circle .arrow-line {
    width: 20px; }

  .gallery-text-block {
    padding: 30px 0; }

  .events-centered-row-img-sector img {
    width: 100%;
    display: inline-block; }

  .about-me-zorin {
    font-size: 100px;
    margin-top: -30px; }

  .about-me-gallery-block img {
    width: 100%; }

  .about-me-img-block img {
    width: 100%; }

  .footer-block:first-child {
    width: 9.888em; }

  .footer-block:last-child {
    padding-top: 1em; }

  .news-row {
    padding-bottom: 30px; }
    .news-row .news-row-img-sector {
      width: 100%; } }
@media all and (max-width: 320px) {
  .about-me-zorin {
    font-size: 80px;
    margin-top: -20px; }

  .contacts-section .section-link-btn {
    width: 110px;
    font-size: 16px; }
    .contacts-section .section-link-btn span {
      line-height: 20px; }
  .contacts-section .contact-block:nth-child(2) {
    font-size: 16px; }

  .privet-section .content-holder p, .coop-section .content-holder p {
    font-size: 18px; }

  .main-slider-section .slider-btn-prev, .main-slider-section .slider-btn-next {
    height: 40px;
    margin-top: -20px; } }

/*# sourceMappingURL=styles.css.map */
