@import 'core';
@import 'fonts';
@import 'colors';
//name says its all
@mixin lazy-vendor($property,$values){
  @if $property == b-sh{
    -webkit-box-shadow: $values;
    -moz-box-shadow: $values;
    box-shadow: $values;
  } @elseif $property == b-r{
    -webkit-border-radius: $values;
    -moz-border-radius: $values;
    border-radius: $values;
  } @elseif $property == trs{
    -webkit-transition: $values;
    -moz-transition: $values;
    transition: $values;
  } @elseif $property == trsf{
    -webkit-transform: $values;
    -moz-transform: $values;
    transform: $values;
  } @elseif $property == t-o{
    -webkit-transform-origin: $values;
    -moz-transform-origin: $values;
    transform-origin: $values;
  } @elseif $property == b-s{
    -webkit-background-size: $values;
    -moz-background-size: $values;
    background-size: $values;
  } @else {
    error: OMG YOU GOT AN ERROR;
    background: red;
    animation: error 2s infinite ease;
  }
}
//coloring link
@mixin color-this-link($default, $hovered:false) {
  color: $default;
  &:hover {
    @if $hovered {
      color: $hovered;
    } @else {
      color: $default;
    }
  }
}
//setting font features
@mixin setFont($font: false,$weight: false,$style: false,$size: false,$lh: false){
  @if $font == def{
    font-family: "Open Sans", sans-serif;
  } @elseif $font{
    font-family: $font, "Open Sans", sans-serif;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $style {
    font-style: $style;
  }
  @if $size {
    font-size: $size;
  }
  @if $lh {
    line-height: $lh;
  }
}
//clearfix
@mixin cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
//positioning
@mixin position($type: abs,$pos:t-l,$cust-t:0,$cust-r:0,$cust-b:0,$cust-l:0){
  @if $type == abs{
    position: absolute;
  } @elseif $type == fix{
    position: fixed;
  } @elseif $type == rel{
    position: relative;
  } @else {
    error: OMG YOU GOT AN ERROR;
    background: red;
    animation: error 2s infinite ease;
  }
  @if $pos == cust{
    top: $cust-t;
    left: $cust-l;
    right: $cust-r;
    bottom: $cust-b;
  }  @elseif $pos == t-l{
    top: 0;
    left: 0;
  } @elseif $pos == t-r{
    top: 0;
    right: 0;
  } @elseif $pos == b-l{
    bottom: 0;
    right: 0;
  } @elseif $pos == b-r{
    bottom: 0;
    right: 0;
  } @else {
    error: OMG YOU GOT AN ERROR;
    background: red;
    animation: error 2s infinite ease;
  }
}
@keyframes slideFL {
  0%{
    left: -500px;
    opacity: 0
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes slideFL2 {
  0%{
    right: 100%;
    opacity: 0;
  }
  50%{
    right: 100%;
    opacity: 0;
  }
  100%{
    right: 90px;
    opacity: 1;
  }
}
@keyframes slideFL3 {
  0%{
    left: -500px;
    opacity: 0
  }
  40%{
    left: -500px;
    opacity: 0
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes slideFR {
  0%{
    left: 100%;
    opacity: 0;
  }
  50%{
    left: 100%;
    opacity: 0;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes slideFR2 {
  0%{
    right: -500px;
    opacity: 0;
  }
  50%{
    right: -500px;
    opacity: 0;
  }
  100%{
    right: 30px;
    opacity: 1;
  }
}
@keyframes slideFB {
  0%{
    bottom: -500px;
    opacity: 0;
  }
  40%{
    bottom: -500px;
    opacity: 0;
  }
  100%{
    bottom: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes error {
  0%{
    outline: 3px solid red;
  }
  50%{
    outline: 10px solid red;
  }
  100%{
    outline: 3px solid red;
  }
}
.width-helper{
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: inline-block;
  font-size: 30px;
  color: black;
  z-index: 2000;
}
html,body,.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.section{
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  @include setFont(HelveticaNeueCyr,300,normal);
  color: $main-text-color;
  font-size: 12px;
}
h1,h2,h3,h4,h5,h6{
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
  margin: 0;
}
.wrapper{
  position: relative;
}
.header{
  width: 100%;
  height: 60px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
  background: rgba(255,255,255,0.8);
}
.header-logo{
  display: inline-block;
  height: 60px;
  padding-top: 16px;
  @include color-this-link(black);
  h2{
    display: inline-block;
    font-size: 50px;
    line-height: 40px;
    vertical-align: top;
    @include setFont(Lombok);
    margin: 0;
  }
}
.news-page-section{
  padding-top: 60px;
  .section-heading{
    padding: 15px 0;
    h1{
      font-size: 36px;
      color: black;
    }
  }
}
.news-row{
  padding-bottom: 60px;
  display: inline-block;
  width: 100%;
  .news-row-img-sector{
    float: left;
    margin: 0 20px 10px 0;
    width: 40%;
  }
  .news-row-text-sector{
    font-size: 16px;
    color: #000;
    p{
      margin: 0;
      padding: 0 0 10px;
      &:last-child{
        padding: 0;
      }
    }
  }
  .news-heading{
    font-size: 18px;
    line-height: 1.21em;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
    h3{
      line-height: 1.21em;
      font-weight: 500;
    }
  }
  &:nth-child(2n){
    .news-row-img-sector{
      float: right;
      margin: 0 0 10px 20px;
    }
  }
}
.mob-burger-holder{
  float: right;
  height: 60px;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 14px;

}
.mob-burger{
  height: 28px;
  display: inline-block;
  width: 44px;
  position: relative;
  &:before,&:after,.stick{
    display: inline-block;
    width: 100%;
    position: absolute;
    background: black;
    height: 3px;
    left: 0;
    @include lazy-vendor(trs,all 0.4s ease);
  }
  &:before,&:after{
    content: '';
  }
  &:before{
    top: 0;
  }
  .stick{
    top: 50%;
    margin-top: -2px;
  }
  &:after{
    bottom: 0;
  }
  &.active{
    height: 30px;
    &:before{
      @include lazy-vendor(trsf, rotateZ(-45deg));
      @include lazy-vendor(t-o,top right);
      width: 39px;
    }
    &:after{
      @include lazy-vendor(trsf, rotateZ(45deg));
      @include lazy-vendor(t-o,bottom right);
      width: 39px;
    }
    .stick{
      opacity: 0;
    }
  }
}
.mob-menu{
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: rgba(255,255,255,0.8);
  z-index: 950;
  height: 100%;
  display: none;
}
.aside-header{
  display: table;
  z-index: 1200;
  width: 100%;
  overflow: hidden;
  a{
    @include color-this-link(#989898);
    display: table-row;
    &:hover,&.active{
      .expanding-circle{
        width: 12px;
        height: 12px;
        @include lazy-vendor(trs,all 0.4s ease);
      }
      .text-header-sector{
        span::before{
          width: 1000px;
          @include lazy-vendor(trs,width 1s 0.8s ease);
        }
        &::after{
          width: 36px;
          @include lazy-vendor(trs,width 0.4s 0.4s ease);
        }
      }
    }
  }
  .dot-header-sector{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    width: 12px;
    position: relative;
    padding: 0 4px;
    background: url("../images/dot.png") center no-repeat;
    background-size: 3px 3px;
    .expanding-circle{
      content: '';
      width: 0;
      height: 0;
      margin-top: 1px;
      display: inline-block;
      @include lazy-vendor(b-r,50%);
      @include position(abs,cust,50%,auto,auto,50%);
      @include lazy-vendor(trsf,translate(-50%,-50%));
      @include lazy-vendor(trs,all 0.4s 1.4s ease);
      z-index: 1100;
      border: 1px solid #6f6c6f;
    }
  }
  .ie-fix-block{
    height: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .text-header-sector{
    padding-right: 36px;
    padding-left: 10px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    position: relative;
    span{
      display: inline-block;
      position: relative;
      line-height: 28px;
      font-size: 14px;
      padding: 0 5px;
      color: black;
      text-transform: uppercase;
    }
    span::before,&::after{
      content: '';
      display: inline-block;
      height: 0;
      border-bottom: 1px solid #6f6c6f;
    }
    span::before{
      width: 0;
      @include position(abs,cust,50%,100%,auto,auto);
      @include lazy-vendor(trs,width 1s ease);
    }
    &::after{
      width: 0;
      @include position(abs,cust,50%,0,auto,auto);
      @include lazy-vendor(trs,width 0.4s 1s ease);
    }
  }
}
.main-slider-section{
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  .slider-btn-prev,.slider-btn-next{
    position: absolute;
    top: 50%;
    height: 70px;
    margin-top: -35px;
    z-index: 800;
    background: transparent;
    img{
      height: 100%;
      width: auto;
    }
  }
  .slider-btn-prev{
    left: 2.5%;
  }
  .slider-btn-next{
    right: 2.5%;
  }
}
.main-slider {
  height: 100%;
  display: block;
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  .swiper-slide{
    position: relative;
  }
}
.main-slider-mask{
  @include position(abs,cust);
  z-index: 800;
  //background: rgba(232,232,232,0.5);
  .container{
    height: 100%;
  }
  .row{
    height: 100%;
    &>div{
      height: 100%;
    }
  }
}
.main-slider-logo{
  @include setFont(Lombok,false,false,4em);
  color: white;
  position: relative;
  z-index: 900;
  margin: 0.3em 0 0;
  line-height: 1em;
  left: 0;
  opacity: 1;
  animation: slideFL 2.5s ease;
}
.slider-description{
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  @include lazy-vendor(trsf,translate(-50%,-50%));
  display: none;
  &:first-child{
    display: block;
  }
  h2,span,a{
    display: inline-block;
  }
  h2{
    font-size: 45px;
    margin: 0;
    white-space: nowrap;
  }
  span{
    font-size: 24px;
    margin-bottom: 0.5em;
    width: 100%;
    white-space: nowrap;
  }
  a{
    font-size: 18px;
    width: 140px;
    line-height: 50px;
    @include color-this-link(white);
    border: 1px solid white;
    background: rgba(0,0,0,0.1);
  }
}
.about-section{
  position: relative;
  margin-bottom: 40px;

  .pre-line{
    @include position(abs,t-r);
    width: 70%;
    height: 0;
    border-bottom: 1px solid #6d6a6d;
    @include lazy-vendor(trs,width 1.5s ease);
  }
  .h-type-a{
    h3{
      font-size: 36px;
      display: inline-block;
      padding-right: 10px;
      padding-top: 20px;
      border-bottom: 1px solid #6d6a6d;
      margin: 0;
      font-weight: 300;
      color: #4a4a4a;
    }
  }
  .text-sector{
    width: 61.7%;
    position: relative;
    p{
      padding: 15px 0 20px;
      font-size: 16px;
      margin: 0;
      color: #4a4a4a;
    }
    .section-link-btn {
      display: inline-block;
      font-size: 18px;
      width: 140px;
      text-align: center;
      line-height: 50px;
      @include color-this-link(black);
      border: 1px solid #6d6a6d;
      margin-bottom: 50px;
    }
  }
  .img-sector{
    width: 32%;
    position: absolute;
    right: 15px;
    top: 25px;
    text-align: right;
    img{
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
    }
  }
  .section-content{
    position: relative;
  }
}
.sliding-img{
  width: 100%;
  margin-bottom: 24.5%;
}
.about-logo{
  height: auto;
  width: 82%;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.video-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  video{
    width: 100%;
    height: 100%;
  }
}
.video-holder{
  position: relative;
  height: 100%;
  z-index: 300;
}
.video-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(255,255,255,0.5);
}
.privet-section,.coop-section{
  padding-bottom: 90px;
  .section-heading h3{
    font-size: 36px;
    line-height: 1em;
    display: inline-block;
    margin: 0;
    padding: 30px 0 15px;
    font-weight: 300;
    color: black;
  }
  .content-holder{
    background: white;
    position: relative;
    text-align: left;
    color: #746f6f;
    p{
      margin: 0;
      font-size: 16px;
      padding-bottom: 10px;
      text-align: left;
      white-space: pre-line;
      color: black;
    }
    a{
      display: inline-block;
      width: 150px;
      line-height: 50px;
      background: #e5e5e5;
      font-size: 18px;
      color: black;
      text-align: center;
    }
  }
  .circle-holder{
    text-align: right;
    .circle{
      width: 24px;
      height: 24px;
      @include lazy-vendor(b-r,50%);
      border: 1px solid #ebebeb;
      position: relative;
      display: inline-block;
      margin-left: 12px;
    }
    .dot{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 6px;
      height: 6px;
      background: #ebebeb;
      @include lazy-vendor(b-r,50%);
      margin: -3px 0 0 -3px;
    }
    .line{
      position: absolute;
      top: 50%;
      right: 50%;
      height: 1px;
      width: 300px;
      background: #ebebeb;
    }
  }
  .letter{
    width: 350px;
    position: absolute;
    z-index: 700;
    top: 5px;
  }
  .line-left{
    position: absolute;
    top: 15px;
    border-left: 1px solid #969496;
    width: 0;
    height: 290px;
  }
  .section-content{
    position: relative;
    z-index: 500;
  }
  .information-area{
    position: relative;
  }
  .afterline{
    width: 250%;
    border-top: 1px solid #6d6a6d;
    margin-top: 20px;
  }
  .gallery-block{
    position: relative;
    margin-right: 2.12%;
    display: inline-block;
    vertical-align: bottom;
    &-5:after{
      display: none;
    }
  }
}
.coop-section{
  position: relative;
  .afterline{
    margin-bottom: 20px;
  }
  .line-left{
    left: 15px;
  }
  .section-heading h3{
    padding-left: 5.85%;
  }
  .content-holder{
    padding: 30px 18px 20px 35%;
    p:last-of-type{
      padding-bottom: 15px;
    }
  }
  .information-area{
    padding-left: 19%;
    padding-right: 8.5%;
  }
  .letter{
    left: 3.85%;
    width: 37%;
  }
  .circle-holder{
    padding-bottom: 25px;
  }
  .section-gallery{
    margin-top: 0;
    position: relative;
    z-index: 800;
    .gallery-row{
      white-space: nowrap;
      font-size: 0;
      &:first-child{
        padding-bottom: 2.12%;
        padding-top: 25px;
      }
    }
    .gallery-block{
      &-1{
        width: 23.4%;
      }
      &-2{
        width: 23.4%;
      }
      &-3{
        width: 48.96%;
        margin-right: 0;
        margin-bottom: -3.2%;
      }
      &-4{
        width: 37.2%;
      }
      &-5{
        width: 26.56%;
        padding-bottom: 11%;
        position: relative;
        img{
          position: absolute;
          left: 2%;
          width: 96%;
          top: 0;
        }
      }
      &-6{
        margin-right: 0;
        width: 32%;
      }
    }
  }
}
.privet-section{
  position: relative;
  .content-holder{
    padding: 30px 33% 20px 18px;
    p:last-of-type{
      padding-bottom: 30px;
    }
  }
  .section-heading h3{
    padding: 20px 0 24px 8.5%;
  }
  .circle-holder{
    padding-top: 40px;
    text-align: left;
    .line{
      right: auto;
      left: 50%;
    }
    .circle{
      margin-right: 12px;
      margin-left: 0;
    }
  }
  .letter{
    right: 4.25%;
    width: 37%;
  }
  .line-left{
    left: 0;
    top: 5%;
    height: 90%;
  }
  .information-area{
    padding: 0 21% 0 6.35%;
    margin-bottom: 25px;
  }
  .afterline{
    margin-top: 20px;
    margin-left: 13%;
  }
  .gallery-row{
    font-size: 0;
  }
  .gallery-block{
    &-1{
      width: 49%;
      margin-bottom: 5.85%;
    }
    &-2{
      width: 23.4%;
    }
    &-3{
      margin-top: -5%;
      width: 40.4%;
    }
    &-4{
      width: 31.96%;
      text-align: center;
      padding-bottom: 4.78%;
      img{
        display: inline-block;
        width: 80%;
      }
    }
    &-5{
      margin-top: -23.4%;
      width: 23.4%;
      margin-right: 0;
    }
  }
}
.news-section{
  padding-bottom: 30px;
  .section-heading h3{
    font-size: 36px;
    line-height: 1em;
    display: inline-block;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 300;
    color: black;
  }
  .all-news{
    font-size: 16px;
    @include color-this-link(black);
    text-transform: uppercase;
    display: inline-block;
    float: right;
    padding-top: 13px;
  }
  .section-content{
    position: relative;
    padding-top: 15px;
    color: #aaaaaa;
  }
  .news-block{
    z-index: 500;
    position: relative;
    background: white;
    @include lazy-vendor(b-sh,5px 0 15px 0 #ccc);
    .extend-btn{
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      height: 30px;
      padding-top: 7px;
      background: white;
      @include lazy-vendor(trs,transform 0.7s ease);
      img{
        display: inline-block;
        height: 16px;
        width: auto;
        vertical-align: top;
      }
    }
  }
  .news-text-sector{
    font-size: 16px;
    padding: 5px 20px;
    height: auto;
    max-height: 280px;
    overflow: hidden;
    @include lazy-vendor(trs,max-height 0.7s ease);
    p:last-child{
      margin-bottom: 30px;
    }
  }
  .extended.news-block{
    .news-text-sector{
      max-height: 1000px;
    }
    .extend-btn{
      @include lazy-vendor(trsf,rotateX(180deg));
    }
  }
  .news-heading{
    h4{
      margin: 0;
      font-size: 1em;
      font-weight: 400;
      font-family: "Open Sans",sans-serif;
      color: black;
      text-transform: uppercase;
    }
  }
  .news-img-sector{
    position: relative;
    padding-bottom: 94%;
    @include lazy-vendor(trs,padding-bottom 0.5s ease);
    overflow: hidden;
    .triangle{
      width: 0;
      height: 0;
      position: absolute;
      @include lazy-vendor(trsf,translateX(-50%));
      left: 50%;
      bottom: 0;
      border-bottom: 18px solid white;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
    }
    img{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
  }
  .news-slider{
    .swiper-wrapper{
      z-index: 700;
    }
  }
}
.contacts-section{
  position: relative;
  .section-link-btn{
    display: inline-block;
    font-size: 24px;
    float: right;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    vertical-align: top;
    @include color-this-link(black);
    padding: 5px 10px;
    span{
      display: inline-block;
      line-height: 32px;
      font-family: "Open Sans",sans-serif;
      font-weight: 400;
    }
  }
  .pre-line{
    height: 0;
    width: 0;
    background: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.388em;
    border-bottom: 1px solid black;
    @include lazy-vendor(trs,width 0.5s ease);
    text-align: left;
    .dot{
      width: 5px;
      height: 5px;
      position: absolute;
      top: 6px;
      left: 6px;

      display: inline-block;
      background: black;
      vertical-align: top;
      @include lazy-vendor(b-r,50%);
    }
    .circle{
      width: 17px;
      display: inline-block;
      position: relative;
      vertical-align: top;
      height: 17px;
      margin-left: -17px;
      margin-top: -9px;
      border: 1px solid black;
      @include lazy-vendor(b-r,50%);
    }
  }
  .contacts-img-row{
    img{
      margin-top: -2.5em;
    }
  }
  .container{
    z-index: 700;
    position: relative;
  }
  .contacts-row{
    padding-top: 2.5em;
    padding-bottom: 1.666em;
    color: #6d6a6d;
    .circle{
      display: inline-block;
      text-align: center;
      width: 17px;
      height: 17px;
      position: relative;
      border: 1px solid black;
      @include lazy-vendor(b-r,50%);
      @include lazy-vendor(trs,all 0.4s ease);
      vertical-align: text-bottom;
      .dot{
        width: 5px;
        height: 5px;
        display: inline-block;
        //vertical-align: middle;
        position: absolute;
        top: 6px;
        left: 6px;
        background: black;
        @include lazy-vendor(b-r,50%);
      }
      .afterline{
        float: right;
        margin-top: 2px;
        border-bottom: 1px solid black;
        width: 0;
        height: 0;
        @include lazy-vendor(trs,width 1s 0.4s ease);
      }
    }
  }
  .section-heading{
    h3{
      font-size: 36px;
      color: black;
      margin: 0;
      line-height: 1em;
      font-weight: 300;
      display: inline-block;
      position: relative;
      padding-right: 10px;
      &:after{
        position: absolute;
        top: 50%;
        left: 100%;
        border-top: 1px solid #6c6a6c;
        height: 0;
        width: 1000px;
        content: ' ';
        display: block;
      }
    }
  }
  .contact-block{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    vertical-align: top;
    font-size: 24px;
    &:first-child{
      color: #6d6a6d;
      font-weight: 400;
    }
    &>span{
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;
      color: black;
      text-transform: uppercase;
    }
    .circle{
      width: 17px;
      height: 17px;
      display: inline-block;
      position: relative;
      @include lazy-vendor(b-r,50%);
      text-align: center;
      vertical-align: middle;
      border: 1px solid #898989;
    }
    //.dot-holder{
    //  display: inline-block;
    //  height: 100%;
    //}
    .dot{
      width: 5px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 5px;

      @include lazy-vendor(b-r,50%);
      //vertical-align: top;
      //margin-top: 6px;
      display: inline-block;
      background: #898989;
    }
    .download-presentation,.download-gallery,.download-recommendations{
      display: block;
      @include color-this-link(black);
      white-space: nowrap;
      .dot{
        vertical-align: middle;
      }
      span{
        white-space: normal;
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        text-transform: uppercase;
        line-height: 1em;
      }
    }
    .download-presentation,.download-gallery{
      padding-bottom: 10px;
    }
  }
  .contact-links{
    @extend .thl;
    li{
      width: 48px;
      height: 48px;
      margin-right: 5px;
      border: 3px solid #b1b1b1;
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      display: inline-block;
      text-align: center;
      vertical-align: top;
      width: 100%;
      line-height: 42px;
      font-size: 30px;
      @include color-this-link(#b1b1b1)
    }
  }
}
.section-about-me{
  padding-top: 60px;
  .section-heading{
    padding-top: 15px;
    padding-bottom: 15px;
    h1{
      font-size: 36px;
      color: black;
    }
  }
}
.about-me-text-block{
  font-size: 16px;
  padding-bottom: 30px;
  p{
    padding-bottom: 10px;
    margin: 0;
    color: black;
    &:last-child{
      padding-bottom: 0;
    }
  }
}
.about-me-img-block{
  text-align: center;
  img{
    display: inline-block;
    width: 70%;
  }
  padding-bottom: 30px;
}
.about-me-gallery-block{
  padding-bottom: 30px;
  text-align: center;
  font-size: 0;
  img{
    display: inline-block;
    width: 40%;
    margin: 0 5%;
  }
}
.about-me-text-large{
  font-size: 36px;
  color: #000;
}
.footer-content{
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}
.footer{
  position: relative;
  z-index: 50;
  padding-bottom: 0.555em;
}
.footer-row{
  text-align: center;
}
.footer-heading{
  position: relative;
  span{
    font-size: 2em;
    line-height: 1em;
    color: black;
  }
  .footer-circle-box{
    position: absolute;
    left: -2.666em;
    top: 50%;
    @include lazy-vendor(trsf,translateY(-50%));
    .footer-heading-circle{
      display: block;
      position: relative;
      width: 18px;
      height: 18px;
      border: 1px solid black;
      @include lazy-vendor(b-r,50%);
    }
    .footer-heading-dot{
      width: 5px;
      height: 5px;
      @include lazy-vendor(b-r,50%);
      background: black;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .footer-heading-line{
      position: absolute;
      top: 50%;
      right: 50%;
      height: 0;
      width: 9999px;
      border-top: 1px solid black;
    }
  }
}
.footer-block{
  padding-top: 3.666em;
  display: inline-block;
  text-align: left;
  position: relative;
  left: 4vw;
  &:first-child{
    width: 13.888em;
    padding-right: 1.111em;
  }
  &:nth-child(2){
    padding-top: 0;
  }
  &:last-child{
    width: 22em;
    color: black;
    padding-left: 3.6em;
  }
}
.footer-block{
  display: inline-block;
  vertical-align: top;
  .contact-links{
    padding-top: 1.666em;
  }
  &:first-child{
    color: black;
  }
  .circle{
    width: 17px;
    height: 17px;
    display: inline-block;
    @include lazy-vendor(b-r,50%);
    text-align: center;
    vertical-align: middle;
    position: relative;
    border: 1px solid black;
  }
  .dot{
    width: 5px;
    height: 5px;
    @include lazy-vendor(b-r,50%);
    position: absolute;
    top: 5px;
    left: 5px;
    background: black;
  }
  .download-presentation,.download-gallery,.download-recomendations{
    display: block;
    @include color-this-link(black,black);
    @include lazy-vendor(trs,color 0.4s ease);
    padding-bottom: 0.555em;
    span{
      display: inline-block;
      margin-left: 5px;
      text-transform: uppercase;
      vertical-align: baseline;
      line-height: 1em;
    }
  }
  .footer-info-heading{
    padding-bottom: 0.888em;
  }
}

.contact-links{
  @extend .thl;
  li{
    width: 2.555em;
    height: 2.555em;
    margin-right: 5px;
    border: 3px solid #9b9b9b;
    @include lazy-vendor(trs,border 0.4s ease);
    &:hover{
      border: 3px solid #b1b1b1;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    line-height: 1.333em;
    font-size: 1.666em;
    @include lazy-vendor(trs,color 0.4s ease);
    @include color-this-link(#9b9b9b,#b1b1b1)
  }
}
.footer-contacts{
  @extend .thl;
  color: #746f6f;
}
.development{
  display: inline-block;
  font-size: 0.888em;
  color: #939393;
  a{
    @include color-this-link(#939393,#939393);
    text-decoration: underline;
  }
}
.about-me-zorin{
  width: 100%;
  font-family: Lombok,"Open Sans",sans-serif;
  font-size: 150px;
  display: inline-block;
  line-height: 1em;
  margin-top: -40px;
  color: black;
  opacity: 0.06;
}
.holder-404{
  min-height: 100vh;
}
.block-404{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.events-timeline{
  height: 1px;
  width: 100%;
  position: relative;
  margin-bottom: 5.75em;
  .timeline{
    float: right;
    width: 200%;
    border-top: 1px solid #6d6a6d;
    &-mask{
      position: absolute;
      right: 0;
      width: 150%;
      background: white;
      height: 3px;
      top: -1px;
    }
  }
}
.timeline-block{
  width: 11px;
  height: 11px;
  position: absolute;
  top: -5px;
  border: 1px solid #6d6a6d;
  @include lazy-vendor(b-r,50%);
  background: white;
  &-transparent{
    background: transparent;
    border: none;
  }
  &-ukraine{
    left: 2.6315%;
    .timeline{
      &-line{
        height: 4.166em;
      }
      &-infoblock{
        bottom: 4.166em;
      }
    }
  }
  &-empty{
    left: 10.96%;
    .timeline-line{
      height: 5.555em;
    }
  }
  &-mic{
    left: 28.94%;
    .timeline-infoblock{
      bottom: 10px;
      text-align: center
    }
    &-heading{
      display: inline-block;
      width: 100%;
    }
    &-block{
      &-bottom-row{
        white-space: nowrap;
        padding-top: 1.333em;
      }
      &-from,&-to{
        display: inline-block;
        width: 5em;
        padding: 0 1em;
        vertical-align: top;
      }
      &-mic{
        display: inline-block;
        width: 3.166em;
        vertical-align: top;
      }
    }
  }
  &-europe{
    left: 42.98%;
    .timeline{
      &-line{
        height: 2.777em;
      }
      &-infoblock{
        top: 2.777em;
      }
    }
  }
  &-transparent{
    left: 55.28%;
    .position-reset .timeline-dot{
      top: 4px;
    }
  }
  &-counter{
    left: 68.94%;
    .timeline{
      &-line{
        height: 4.166em;
      }
      &-infoblock{
        bottom: 4.166em;
        white-space: nowrap;
        .counter-number{
          display: inline-block;
          width: 2.25em;
          height: 4.111em;
          color: #939393;
          position: relative;
          overflow: hidden;
          &-old{
            position: absolute;
            font-size: 4.111em;
            bottom: 0;
            line-height: 1em;
          }
          &-new{
            position: absolute;
            font-size: 4.111em;
            line-height: 1em;
            bottom: 100%;
          }
        }
      }
    }
    .c-event-counter{
      position: relative;
      .counter-text{
        position: absolute;
        left: 110%;
        bottom: 0.25em;
        font-size: 1.666em;
        color: #939393;
      }
    }
  }
  &-transparent-second{
    right: 18.15%;
    left: auto;
  }
  &-world{
    right: 2.28%;
    .timeline{
      &-line{
        height: 2.777em;
      }
      &-infoblock{
        top: 2.777em;
        white-space: nowrap;
      }
    }
  }
  .position-reset{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .timeline{
    &-dot{
      position: absolute;
      width: 3px;
      height: 3px;
      @include lazy-vendor(b-r, 50%);
      background: black;
      top: 3px;
      left: 3px;
    }
    &-line{
      position: absolute;
      left: 4px;
      width: 1px;
      background: black;
      &-top{
        bottom: 4px;
      }
      &-bottom{
        top: 4px;
      }
    }
    &-infoblock{
      display: inline-block;
      position: absolute;
      left: 50%;
      color: black;
      @include lazy-vendor(trsf,translateX(-50%));
      &-top{
        padding-bottom: 10px;
      }
      &-bottom{
        padding-top: 10px;
      }
    }
  }
}
.c-events-section{
  padding-top: 60px;
  .section-heading{
    padding: 15px 0 120px;
    h1{
      font-size: 36px;
      color: black;
    }
  }
}
.events-centered-row{
  font-size: 0;
  padding-bottom: 60px;
  &-img-sector{
    width: 31.14%;
    display: inline-block;
    vertical-align: middle;
  }
  &-text-sector{
    width: 68.86%;
    display: inline-block;
    font-size: 16px;
    padding-left: 2.777em;
    vertical-align: middle;
    color: #000;
  }
}
.text-sector-heading{
  font-size: 20px;
  padding-bottom: 0.6em;
  display: inline-block;
  width: 100%;
}
.events-types{
  @extend .tvl;
  li{
    padding-bottom: 1em;
    .event-name{
      font-weight: 700;
    }
  }
}
.events-gallery{
  padding-bottom: 60px;
}
.gallery-img-block{
  text-align: center;
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.3);
  }
  img{
    &:first-child{
      width: 50%;
      margin-right: 5%;
      margin-left: 0;
    }
    &:last-child{
      width: 27%;
      margin-right: 0;
      margin-left: 5%;
    }
    display: inline-block;
    margin: 0 2.5%;
    vertical-align: top;
  }
  &:first-child{
    img{
      &:first-child{
        width: 36.5%;
        margin: 0 2.5%
      }
      &:last-child{
        width: 45%;
        margin: 0 2.5%;
      }
    }
  }
}
.gallery-text-block{
  padding: 30px 25%;
  text-align: center;
  font-size: 20px;
  color: black;
  p{
    margin: 0;
  }
}
.c-events-comment-first{
  padding-bottom: 30px;
  @include cf;
  .c-events-comment-img-sector{
    float: left;
    width: 70%;
  }
  .c-events-comment-text-sector{
    float: right;
    width: 70%;
    margin-top: -50px;
  }
}
.c-events-comment-second{
  padding-bottom: 60px;
  @include cf;
  .c-events-comment-img-sector{
    float: left;
    width: 60%;
  }
  .c-events-comment-text-sector{
    float: right;
    width: 60%;
    margin-top: -50px;
  }
}
.event-big-img-section{
  padding-bottom: 60px;
}
.slider-comment-img{
  max-width: 300px;
  margin: 0 auto;
}
.c-events-comment-text-sector{
  background: white;
  color: #000;
  @include lazy-vendor(b-sh,3px 3px 10px 0 #ddd);
  font-size: 16px;
  padding: 10px 10px 10px 15px;
  .c-events-comment-author{
    font-size: 14px;
    text-align: right;
    padding-left: 50%;
    font-style: italic;
    font-weight: 600;
  }
  p{
    margin: 0;
  }
}
.c-events-comments-slider-section{
  padding-bottom: 60px;
  .c-events-comments-slider-holder{
    padding: 0 45px;
    position: relative;
    //.swiper-slide{
    //  .slider-comment-img{
    //    -webkit-filter: grayscale(1);
    //    filter: grayscale(1);
    //    opacity: 0.5;
    //    @include lazy-vendor(trs,all 0.4s ease);
    //  }
    //  &:hover .slider-comment-img{
    //    -webkit-filter: grayscale(0);
    //    filter: grayscale(0);
    //    opacity: 1;
    //  }
    //}
  }
  .c-events-comments-slider{
    overflow: hidden;
  }
  .c-events-comments-arrow{
    position: absolute;
    width: 45px;
    top: 50%;
    padding: 20px 0;
    cursor: pointer;
    @include lazy-vendor(trsf,translateY(-50%));
    .arrow-circle{
      width: 11px;
      height: 11px;
      @include lazy-vendor(b-r,50%);
      border: 1px solid #000000;
      position: relative;
      display: inline-block;
      .arrow-dot{
        width: 3px;
        height: 3px;
        position: absolute;
        @include lazy-vendor(b-r,50%);
        background: #000;
      }
      .arrow-line{
        position: absolute;
        top: 5px;
        width: 30px;
        height: 1px;
        background: #000;
      }
    }
    &-left{
      text-align: left;
      left: 0;
      .arrow-line{
        left: 5px;
      }
      .arrow-dot{
        left: 3px;
        top: 4px;
      }
    }
    &-right{
      text-align: right;
      right: 0;
      .arrow-line{
        right: 5px;
      }
      .arrow-dot{
        right: 3px;
        top: 4px;
      }
    }
  }
}
.slider-comment-text{
  padding-top: 40px;
  text-align: center;
  color: black;
  font-size: 16px;
  p{
    margin: 0;
  }
}
.c-event-ending-img{
  position: relative;
  &:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background: rgba(255,255,255,0.5);
  }
  margin-bottom: 60px;
}
.timeline-block{
  display: none;
}
.standart-padding-bottom{
  padding-bottom: 30px;
}
.partners_link{
  padding-bottom: 0.5rem;
  a{
    display: inline-block;
    font-size: 14px;
    width: 190px;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    @include color-this-link(black,black);
    background: transparent;
    position: relative;
    z-index: 300;
    span{
      display: inline-block;
      line-height: 2em;
    }
    img{
      width: 80%;
    }
  }
}
@keyframes pointerSlider {
  0%{
    right: 10%;
    opacity: 0;
  }
  40%{
    right: 42%;
    opacity: 1;
  }
  60%{
    right: 58%;
    opacity: 1;
  }
  100%{
    right: 90%;
    opacity: 0;
  }
}
.pointer{
  //display: inline-block;
  display: none;
  width: 90px;
  padding: 0 20px;
  position: absolute;
  z-index: 940;
  bottom: 20px;
  animation: pointerSlider 2s linear infinite;
}
.background-mask{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 2000;
}
.inside-letter,.outer-section-link-btn,.mob-additions{
  display: none;
}
.mobile-slider-img{
  display: none;
}
//@import "select-block";
@import 'media';
